1

已发布

接口服务ID：YOUR_XFYUN_SERVICE_ID

APPID：YOUR_XFYUN_APPID

APIKey：YOUR_XFYUN_API_KEY

APISecret：YOUR_XFYUN_API_SECRET

形象列表
序号	虚拟人	形象名称	形象ID	资产分类	授权状态	操作
1	
预览
马可	110017006	通用	已授权	
声音列表
序号	声音	声音名称	vcn	资产类型	资产分类	授权状态	操作
7		小钟	x4_xiaozhong	通用资产	通用	已授权	